@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 187 67% 92.5%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 174 63% 39.4%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 180 50% 85%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 180 40% 90%;
    --muted-foreground: 223.5 11.5% 42.2%;
    --accent: 88 100% 67.1%;
    --accent-foreground: 88 40% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 187 30% 80%;
    --input: 0 0% 100%;
    --ring: 174 63% 39.4%;
    --radius: 0.8rem;
    --chart-1: 174 63% 39.4%;
    --chart-2: 88 100% 67.1%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 0 0% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 174 63% 45%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 223.5 11.5% 15.2%;
    --secondary-foreground: 0 0% 98%;
    --muted: 223.5 11.5% 15.2%;
    --muted-foreground: 223.5 11.5% 62.2%;
    --accent: 88 100% 67.1%;
    --accent-foreground: 88 40% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 223.5 11.5% 15.2%;
    --input: 223.5 11.5% 15.2%;
    --ring: 174 63% 45%;
    --chart-1: 174 63% 45%;
    --chart-2: 88 100% 67.1%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
